.container {
    margin: 15% 20%;
}
.container p {
    font-family: "Work Sans", sans-serif;
    font-size: 50px;
}
.wrapper {
    display: none;
}

@media only screen and (max-width: 800px) {
    body {
        overflow: hidden;
    }
    .container {
        display: none;
    }
    .wrapper {
        display: flex;
        color: black;
        font-family: "Work Sans", sans-serif;
        font-size: 30px;
        margin: 30% 20%;
    }
}
